.dxgvControl_Soft_Orange,
.dxgvDisabled_Soft_Orange
{
	border: Solid 4px #d3d3d3;
	font: 13px Tahoma;
	background-color: #F9F9F9;	
	color: Black;
	cursor: default;
	padding: 1px;
}
.dxgvControl_Soft_Orange .dxpControl_Soft_Orange 
{
    padding-top: 7px;
}
.dxgvDisabled_Soft_Orange 
{
	color: Gray;
}
.dxgvControl_Soft_Orange a 
{
	color: #5555FF;
}
.dxgvDisabled_Soft_Orange a
{
	color: Gray;
}
.dxgvLoadingPanel_Soft_Orange
{
	border-style: none;
	background-color: transparent;
	font: 9pt Tahoma;
	color: #303030;
}
.dxgvLoadingPanel_Soft_Orange td
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxgvLoadingPanelStatusBar_Soft_Orange
{
	background-color: transparent;
	font: 9pt Tahoma;
}
.dxgvLoadingPanelStatusBar_Soft_Orange td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px 0px 2px;
}

.dxgvFilterPopupWindow_Soft_Orange
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 4px #969696;
}
.dxgvFilterPopupItemsArea_Soft_Orange
{
	color: Black;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_Soft_Orange
{
	font: 9pt Tahoma;
	background-color: #f9f9f9;
	border: 1px solid #dcdcdc;
	color: Black;
}

.dxgvFilterPopupItem_Soft_Orange td.dxgv
{
	padding: 2px 2px 2px 3px;
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-right: 1px solid White;
}
.dxgvFilterPopupActiveItem_Soft_Orange td.dxgv
{
	background-color: #f26f39;
	padding: 2px 2px 2px 3px;
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-right: 1px solid White;
    color: White;
}

.dxgvTable_Soft_Orange
{
	background-color: White;
	border: 0;
	border-collapse: separate!important;
	overflow: hidden;
	font: 13px Tahoma;
	color: Black;
}
.dxgvInlineEditRow_Soft_Orange,
.dxgvDataRow_Soft_Orange
{
    background-color: #f8f8f8;
}
.dxgvInlineEditRow_Soft_Orange td.dxgv
{
	border-bottom: Solid 1px #D3D3D3;
	border-right: Solid 1px #D3D3D3;
}
.dxgvDataRowAlt_Soft_Orange
{
	background-color: #ffffff;
}
.dxgvFilterRow_Soft_Orange 
{
	background-color: #f2f2f2;
}
.dxgvEditForm_Soft_Orange 
{
	background-color: #FCFCFC;
}
.dxgvEditForm_Soft_Orange td.dxgv
{
	border-bottom: Solid 1px #D3D3D3;
	padding: 8px 10px 10px 10px;
}
.dxgvEditForm_Soft_Orange a
{
    color: #bc3f26;
}
.dxgvEditForm_Soft_Orange a:hover
{
    color: #f15e34;
}

.dxgvSelectedRow_Soft_Orange
{
	background-color: #ff9460;
    color: White;
}
.dxgvFocusedRow_Soft_Orange
{
	background-color: #f16a39;
    color: White;
}
.dxgvSelectedRow_Soft_Orange .dxgvCommandColumn_Soft_Orange a, 
.dxgvFocusedRow_Soft_Orange .dxgvCommandColumn_Soft_Orange a
{
    color: #ffffff;
}
.dxgvSelectedRow_Soft_Orange .dxgvCommandColumn_Soft_Orange a:hover, 
.dxgvFocusedRow_Soft_Orange .dxgvCommandColumn_Soft_Orange a:hover
{
    color: #ffffff;
}
.dxgvPreviewRow_Soft_Orange
{
	background-color: #ffffff;
	color: #000000;
}
.dxgvDetailRow_Soft_Orange td.dxgv,
.dxgvPreviewRow_Soft_Orange td.dxgv,
.dxgvEmptyDataRow_Soft_Orange td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: Solid 1px #D3D3D3;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.dxgvPreviewRow_Soft_Orange td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailRow_Soft_Orange td.dxgv 
{
	padding: 16px 18px 16px 0px;
}
.dxgvDetailRow_Soft_Orange td.dxgvIndentCell 
{
    padding-right: 0px;
}
.dxgvEmptyDataRow_Soft_Orange
{
	color: Gray;
}
.dxgvEmptyDataRow_Soft_Orange td.dxgv
{
    border-bottom: Solid 1px #c5c5c5;
	text-align: center;
}

.dxgvEditFormDisplayRow_Soft_Orange td.dxgv,
.dxgvDataRow_Soft_Orange td.dxgv,
.dxgvDataRowAlt_Soft_Orange td.dxgv,
.dxgvSelectedRow_Soft_Orange td.dxgv,
.dxgvFocusedRow_Soft_Orange td.dxgv
{
	overflow: hidden;
	border-bottom: Solid 1px #c5c5c5;
	border-right: Solid 1px #c5c5c5;
	border-top: 0;
	padding: 2px 8px 3px 8px;
	
}
.dxgvEditFormDisplayRow_Soft_Orange
{
}
.dxgvEditFormDisplayRow_Soft_Orange td.dxgv 
{
}

.dxgvEditingErrorRow_Soft_Orange
{
	background-color: #FFC8C8;
	color: #FF0000;
}
.dxgvEditingErrorRow_Soft_Orange td.dxgv
{
	white-space: pre-wrap;
	border-bottom: Solid 1px #D3D3D3;
	border-right: 0;
	border-top: 0;
	border-left: 0;
	padding: 6px 10px 6px 10px;
}

.dxgvFilterRow_Soft_Orange td.dxgv
{
	border-bottom: Solid 1px #C1C1C1;
	border-right: Solid 1px #C1C1C1;
	border-top: 0;
	border-left: 0;
	padding: 4px;
	padding-top: 4px;	
	padding-bottom: 4px;
}
.dxgvGroupRow_Soft_Orange
{
	background: #D3D3D3 url('gvGroupRowBack.gif') repeat-x top left;
}
.dxgvFocusedGroupRow_Soft_Orange
{
	background-color: #f16a39;
    color: White;
}
.dxgvGroupRow_Soft_Orange td.dxgv,
.dxgvFocusedGroupRow_Soft_Orange td.dxgv
{
	border: none 0;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: Solid 1px #c5c5c5;
	padding: 2px 4px 3px 8px;
}
.dxgvHeaderPanel_Soft_Orange {
	background-color: #F9F9F9;
	color: Black;
	padding: 8px 4px 8px 4px;
	border-bottom: Solid 1px #9F9F9F;
}

.dxgvHeader_Soft_Orange {
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 8px 6px 8px;
	border: dotted 1px #5c5c5c;
	background-color: #969696;
	overflow: hidden;
	-moz-user-select: none;
}
.dxgvHeader_Soft_Orange, .dxgvHeader_Soft_Orange table {
	color: #FFFFFF;
	font: 13px Tahoma;
}
.dxgvHeader_Soft_Orange td {
	white-space: nowrap;
}
.dxgvCustomization_Soft_Orange, 
.dxgvPopupEditForm_Soft_Orange
{
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow: auto;
}
.dxgvPopupEditForm_Soft_Orange a
{
    color: #bc3f26;    
}
.dxgvPopupEditForm_Soft_Orange a:hover
{
    color: #f15e34;    
}

.dxgvGroupPanel_Soft_Orange
{
	white-space: nowrap;
	background-image:url('gvGroupPanelBackground.gif');
	background-position: bottom;
	background-repeat:repeat-x;
	background-color: #fcfcfc;
	border-bottom: dotted 1px #5c5c5c;
	padding: 8px 4px 8px 10px;
}
.dxgvFooter_Soft_Orange
{
	background-color: #dddddd;
	white-space: nowrap;
}
.dxgvFooter_Soft_Orange td.dxgv
{
	padding: 4px 8px 5px 8px;
	
	border-bottom: Solid 1px #BCBCBC;
	border-right: 1px;
}
.dxgvGroupFooter_Soft_Orange
{
	background-color: #E0E0E0;
}
.dxgvGroupFooter_Soft_Orange td.dxgv 
{
    padding: 4px 8px 5px 8px;

    border-bottom: Solid 1px #c5c5c5;
	white-space: nowrap;
}
.dxgvDataRow_Soft_Orange td.dxgvIndentCell,
.dxgvGroupRow_Soft_Orange td.dxgvIndentCell,
.dxgvGroupFooter_Soft_Orange td.dxgvIndentCell
{	
    background-image:none;
    background-color: #D3D3D3;
	border-right: Solid 1px #c5c5c5;
	border-top: 0px;
}
.dxgvTitlePanel_Soft_Orange
{
    font-size: 15px;
	font-weight: normal;
	padding: 4px 3px 4px 3px;
	text-align: center;	
	background-color: #ACACAC;
	color: White;
	border-bottom: Solid 1px #9F9F9F;
}
.dxgvLoadingDiv_Soft_Orange
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxgvStatusBar_Soft_Orange 
{
	border-top: Solid 1px #9F9F9F;
}
.dxgvStatusBar_Soft_Orange tr
{
	height: 20px;
}
.dxgvCommandColumn_Soft_Orange
{
	padding: 2px 2px 2px 2px;
}
.dxgvCommandColumn_Soft_Orange a
{
    color: #bc3f26;
    font-size: 9pt;
	margin: 0px 3px 0px 0px;
}
.dxgvCommandColumn_Soft_Orange a:hover
{
    color: #f15e34;
}

.dxgvCommandColumnItem_Soft_Orange
{
	padding: 2px 2px 2px 2px;
}
.dxgvEditFormTable_Soft_Orange
{
	padding: 2px 6px 6px 4px;
	font: 11px Tahoma;
	color: Black;
}
.dxgvEditFormCaption_Soft_Orange
{
	padding: 4px 4px 4px 10px; 
	font-size: 12px;
}

.dxgvInlineEditCell_Soft_Orange
{
	padding: 1px 1px 1px 1px; 
}

.dxgvEditFormCell_Soft_Orange
{
	padding: 4px 4px 4px 4px; 
	border: 0;
}
