.dxeLoadingDiv_Office2003_Silver
{
	background: White;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxeLoadingPanel_Office2003_Silver
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxeLoadingPanel_Office2003_Silver td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxeBase_Office2003_Silver
{
    font-family: Tahoma;
    font-size: 9pt;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Office2003_Silver, .dxeErrorCell_Office2003_Silver td
{
    font-family: Tahoma;
    font-size: 9pt;
	color: Red;
}
.dxeErrorCell_Office2003_Silver
{
	padding-left: 4px;
	padding-right:5px;		
}
.dxeErrorFrame_Office2003_Silver
{
	padding-right: 3px;
}
.dxeEditArea_Office2003_Silver 
{
	font-family: Tahoma;
	font-size: 9pt;
	border: solid 1px #7c7c94;
}
/* -- Buttons -- */
.dxeButtonEditButton_Office2003_Silver, .dxeCalendarButton_Office2003_Silver,
.dxeSpinIncButton_Office2003_Silver, .dxeSpinDecButton_Office2003_Silver,
.dxeSpinLargeIncButton_Office2003_Silver, .dxeSpinLargeDecButton_Office2003_Silver
{
	vertical-align: middle;
	border: solid 1px #7c7c94;
	cursor: pointer;
	cursor: hand;
} 
.dxeButtonEditButton_Office2003_Silver, .dxeCalendarButton_Office2003_Silver, .dxeButtonEditButton_Office2003_Silver td.dx, .dxeCalendarButton_Office2003_Silver td.dx,
.dxeSpinIncButton_Office2003_Silver, .dxeSpinDecButton_Office2003_Silver,
.dxeSpinLargeIncButton_Office2003_Silver, .dxeSpinLargeDecButton_Office2003_Silver,
.dxeSpinIncButton_Office2003_Silver td.dx, .dxeSpinDecButton_Office2003_Silver td.dx,
.dxeSpinLargeIncButton_Office2003_Silver td.dx, .dxeSpinLargeDecButton_Office2003_Silver td.dx
{	
    font-family: Tahoma;
    font-size: 9pt;        
    font-weight: normal;    
	text-align: center;
} 
.dxeButtonEditButton_Office2003_Silver
{
    padding: 3px 1px;
	background: url(edtButtonBack.gif) repeat-x center bottom #e6e6f0;
}
.dxeSpinIncButton_Office2003_Silver, .dxeSpinDecButton_Office2003_Silver
{
	border-style: none;	
	padding: 0px;
}
.dxeSpinLargeIncButton_Office2003_Silver, .dxeSpinLargeDecButton_Office2003_Silver
{
	border: Solid 1px #9595aa;	
	padding: 0px;
}

.dxeButtonEditButton_Office2003_Silver table.dxbebt
{
	width: 14px;
}

.dxeSpinLargeIncButton_Office2003_Silver
{
    padding-left: 1px;
}
.dxeSpinIncButton_Office2003_Silver
{
    background: url('edtSpinIncBtnBack.gif') no-repeat top left #b0aec6;
	border-bottom: Solid 1px #FFFFFF;
}
.dxeSpinDecButton_Office2003_Silver
{
	background: url('edtSpinDecBtnBack.gif') no-repeat top left #b0aec6;
    border-bottom-style: none;
}
.dxeSpinLargeIncButton_Office2003_Silver, .dxeSpinLargeDecButton_Office2003_Silver
{
   	background: url('edtSpinLargeIncBtnBack.gif') repeat-x top left #a8a7c1;
	border: Solid 1px #9595aa;   	
}

.dxeCalendarButton_Office2003_Silver
{
	background: url(edtButtonBack.gif) repeat-x center bottom #e6e6f0;
	padding: 4px 11px;
	padding-top: 2px;
	width: 32px;
}
.dxeCalendarButton_Office2003_Silver table.dxbebt
{
	width: 100%;
}
.dxeCalendarButton_Office2003_Silver td.dx
{
	text-align: center;
	white-space: nowrap;
}
/* SpinButtons */
.dxeSpinIncButton_Office2003_Silver table.dxbebt, .dxeSpinDecButton_Office2003_Silver table.dxbebt
{
	width: 15px;
}
.dxeSpinLargeDecButton_Office2003_Silver table.dxbebt
{
	width: 13px;
}
.dxeSpinLargeIncButton_Office2003_Silver table.dxbebt
{
	width: 12px;    
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Office2003_Silver, .dxeButtonEditButtonPressed_Office2003_Silver
{
	border: solid 1px #000080;
	background: url(edtButtonBackPressed.gif) repeat-x center top #ffcf8b;	
}
/* SpinButtons */
.dxeSpinIncButtonPressed_Office2003_Silver, .dxeSpinDecButtonPressed_Office2003_Silver
{
    border-style: none;    
}
.dxeSpinIncButtonPressed_Office2003_Silver
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom: Solid 1px #FFFFFF;    
}
.dxeSpinDecButtonPressed_Office2003_Silver
{
	background: url('edtSpinIncBtnPBack.gif') no-repeat top left #ffbc78;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonPressed_Office2003_Silver, .dxeSpinLargeDecButtonPressed_Office2003_Silver
{
	background: url('edtSpinLargeIncBtnPBack.gif') repeat-x top left #ffc17c;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Office2003_Silver, .dxeButtonEditButtonHover_Office2003_Silver
{
	border: solid 1px #000080;
	background: url(edtButtonBackHover.gif) repeat-x center bottom #fff2c8;
}
/* SpinButtons */
.dxeSpinIncButtonHover_Office2003_Silver, .dxeSpinDecButtonHover_Office2003_Silver
{
    border-style: none;    
}
.dxeSpinIncButtonHover_Office2003_Silver
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom: Solid 1px #ffffff;    
}
.dxeSpinDecButtonHover_Office2003_Silver
{
	background: url('edtSpinIncBtnHBack.gif') no-repeat top left #ffdda6;
    border-bottom-style: none;
}
.dxeSpinLargeIncButtonHover_Office2003_Silver, .dxeSpinLargeDecButtonHover_Office2003_Silver
{
	background: url('edtSpinLargeIncBtnHBack.gif') repeat-x top left #ffdaa1;
	border-left: Solid 1px #000080;
}

.dxeButtonEdit_Office2003_Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
    width: 170px;
}
.dxeButtonEdit_Office2003_Silver .dxeEditArea_Office2003_Silver, .dxeButtonEdit_Office2003_Silver td.dxic
{
	width: 100%;
}
.dxeButtonEdit_Office2003_Silver td.dxic
{
    padding: 0px 2px 0px 1px;
}
.dxeTextBox_Office2003_Silver, .dxeMemo_Office2003_Silver
{
    background-color: white;
    border: solid 1px #7c7c94;
}
.dxeTextBox_Office2003_Silver td.dxic
{
	padding: 1px 2px;
}
.dxeTextBox_Office2003_Silver td.dxic 
{
	width: 100%;
}
.dxeRadioButtonList_Office2003_Silver, .dxeRadioButtonList_Office2003_Silver table
{
    font-family: Tahoma;
    font-size: 9pt;    
}
.dxeRadioButtonList_Office2003_Silver
{
    border: Solid 1px #7c7c94;
}
.dxeRadioButtonList_Office2003_Silver td.dxe
{
    padding: 6px 11px;
}

/* -- Memo -- */
.dxeMemo_Office2003_Silver
{
	padding-left: 3px;
}
.dxeMemoEditArea_Office2003_Silver 
{
	font-family: Tahoma;
	font-size: 9pt;
}
.dxeMemo_Office2003_Silver td
{
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_Office2003_Silver
{
    font-family: Tahoma;
    font-size: 9pt;
	font-weight: normal;    
    color: black;    
	text-decoration: underline;
}

/* -- ListBox -- */
.dxeListBox_Office2003_Silver
{
	border: solid 1px #7c7c94;
    height: 113px;    
    width: 70px;
}
.dxeListBox_Office2003_Silver div.dxlbd
{
	padding-top: 1px;    
    padding-bottom: 0px;
	background-color: white;
    font-family: Tahoma;
    font-size: 9pt;
}
.dxeListBoxItem_Office2003_Silver
{    
    border-bottom: solid 1px white;    
    border-left: solid 1px white;    
    border-right: solid 1px white;    
    color: Black;        
    font-family: Tahoma;
    font-size: 9pt;        
    font-weight: normal;
    padding: 3px 2px 4px 3px;
    white-space: nowrap;
    text-align: left;
    cursor: default;
}
.dxeListBoxItemHover_Office2003_Silver        /* inherits dxeListBoxItem */
{
    background-color: #dfdfdf;
}
.dxeListBoxItemSelected_Office2003_Silver     /* inherits dxeListBoxItem */
{    
    color: black;
    background-color: #ffc076;
}
.dxeListBox_Office2003_Silver .dxeI 
{
    padding-right: 0px!important;
    border-right-width: 0px!important;
}
.dxeListBox_Office2003_Silver .dxeT
{
    width: 100%;    
    border-left-width: 0px!important;    
}

/* -- Calendar -- */
.dxeCalendar_Office2003_Silver
{
 	color: black;
	font-weight: normal; 	
    border: solid 1px #7c7c94;
    background-color: white;
}
.dxeCalendar_Office2003_Silver td.dxMonthGrid 
{
    padding: 8px 20px;
    cursor: default;
}
.dxeCalendar_Office2003_Silver td.dxMonthGridWithWeekNumbers
{
    padding: 8px 20px 8px 8px;
    cursor: default;
}
.dxeCalendarDayHeader_Office2003_Silver
{
    font-family: Tahoma;
    font-size: 9pt;        
    padding: 4px 4px 5px;    
    border-bottom: solid 1px #d9d9d9;    
}
.dxeCalendarWeekNumber_Office2003_Silver
{    
    font-family: Tahoma;
    font-size: 7pt;    
    text-align: right;    
	padding: 6px 8px 2px 4px;  
    color: #cac9c9;
}
.dxeCalendarDay_Office2003_Silver
{    
    font-family: Tahoma;
    font-size: 9pt;
    padding: 4px;    
    text-align: center;    
}
.dxeCalendarWeekend_Office2003_Silver        /* inherits dxeCalendarDay */
{
    color: #c00000;
}
.dxeCalendarOtherMonth_Office2003_Silver     /* inherits dxeCalendarDay */
{
    color: #888;
}
.dxeCalendarOutOfRange_Office2003_Silver      /* inherits dxeCalendarDay */
{
    color: #d0d0d0;    
}
.dxeCalendarToday_Office2003_Silver      /* inherits dxeCalendarDay */
{
    padding: 3px;
    border: solid 1px #c00000;
}
.dxeCalendarSelected_Office2003_Silver       /* inherits dxeCalendarDay */
{
    color: black;
    background-color: #ffc076;
}
.dxeCalendarHeader_Office2003_Silver
{
    background: url(edtCalendarHeadBack.gif) repeat-x center bottom #f3f4fa;
    border: solid 1px #d9d9d9;
	border-width: 1px 0;
    padding: 4px 7px;
}
.dxeCalendarHeader_Office2003_Silver td.dxe
{
    font-family: Tahoma;
    font-size: 9pt;
    text-align: center;
	cursor: pointer;
	cursor: hand;
}
.dxeCalendarFooter_Office2003_Silver 
{
    background-color: #dfdfdf;
    padding: 8px 0px;    
    border-top: solid 1px #d9d9d9;
}
.dxeCalendarFastNav_Office2003_Silver
{
    background: white;
    border: solid 1px #7c7c94;
    border-bottom: 0px;
    padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_Office2003_Silver
{
    padding: 0px 9px;
}
.dxeCalendarFastNavFooter_Office2003_Silver
{
	color: black;
    background-color: #dfdfdf;
    padding: 8px 0px;   
    border: solid 1px #7c7c94;
    border-top: solid 1px #d9d9d9;
}
.dxeCalendarFastNavMonth_Office2003_Silver, .dxeCalendarFastNavYear_Office2003_Silver
{
    font: normal 9pt Tahoma;
    color: Black;
    padding: 3px 5px;
    text-align: center;
	cursor: pointer;
	cursor: hand;
}
.dxeCalendarFastNavMonth_Office2003_Silver
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_Office2003_Silver, .dxeCalendarFastNavYearSelected_Office2003_Silver
{ 
	border: solid 1px #000080;
	background: url(edtButtonBackPressed.gif) repeat-x center top #ffcf8b;
    padding: 2px 4px;
}
.dxeCalendarFastNavMonthSelected_Office2003_Silver
{
	padding: 5px;
}
.dxeCalendarFastNavMonthHover_Office2003_Silver, .dxeCalendarFastNavYearHover_Office2003_Silver
{            
    background: #e5e5e5;    
    border: solid 1px #7c7c94;
    padding: 2px 4px;
}
.dxeCalendarFastNavMonthHover_Office2003_Silver
{
	padding: 5px;
}
/* Disabled */
.dxeDisabled_Office2003_Silver, .dxeDisabled_Office2003_Silver td.dxe
{
	color: #808080;
	cursor: default;
}
.dxeButtonDisabled_Office2003_Silver, .dxeButtonDisabled_Office2003_Silver td.dxe
{
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Office2003_Silver
{	
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
	vertical-align: middle;	 		
    border: solid 1px #7c7c94;
	background: url(edtButtonBack.gif) repeat-x center bottom #e6e6f0;    
    padding: 1px 1px 1px 1px;
	cursor: pointer;
	cursor: hand;
}
.dxbButtonHover_Office2003_Silver 
{     
	border: solid 1px #000080;
	background: url(edtButtonBackHover.gif) repeat-x center bottom #fff2c8;
}
.dxbButtonChecked_Office2003_Silver 
{
	border: solid 1px #000080;
	background: url(edtButtonBackPressed.gif) repeat-x center top #ffcf8b;	
}
.dxbButtonPressed_Office2003_Silver 
{
	border: solid 1px #000080;
	background: url(edtButtonBackPressed.gif) repeat-x center top #ffcf8b;	
}
.dxbButton_Office2003_Silver div.dxb
{    
    padding: 4px 8px 5px 8px;
	border: 0px;
}
.dxbButton_Office2003_Silver div.dxbf
{     
    padding: 3px 7px 4px 7px;
	border: dotted 1px black;		
}
.dxbButton_Office2003_Silver div.dxb table
{    
  	color: #000000;    
	font-size: 9pt;
	font-family: Tahoma;				    
	font-weight:normal;
}
/* Disabled */
.dxbDisabled_Office2003_Silver
{
	color: #808080;
	cursor: default;
}